<h1>Longest#score</h1>

<p><strong>Message</strong></p>
<%= @answer[:message] %>
<p><strong>Time</strong></p>
<%= @answer[:time] %>
<p><strong>Translation</strong></p>
<%= @answer[:translation] %>
<p><strong>Score</strong></p>
<%= @answer[:score] %>

<%= link_to "game", game_path %>
